doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='styleSheet' href='/public/css/home.css')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap' rel='stylesheet')
  title MLICT
.mainContainer
  h1
    | MACHINE LEARNING AIDED SCREENING 
    br
    |  OF LUNG DISEASES 
    br
    |  IN CT IMAGES
  div
    a.signLink(href='logIn.html')  Sign In
    a.signLink(href='signUp.html') Sign Up
