doctype html
head
  title Log In 
  link(rel='stylesheet' href='/css/sign.css')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap' rel='stylesheet')
  .login-box
    h1 Login
    form.logInForm
      label Email
      input#email(type='email' placeholder='you@example.com' required)
      label Password
      input#password(type='password' placeholder='********', required)
      button.btn Login
  p.para-2
    | Not have an account? 
    a(href='signup.html') Sign Up Here


    script(src = 'https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js')
    script(src = '/js/logIn.js')
