doctype html
head
  title Login | By Code Info
  link(rel='stylesheet' type='text/css' href="css/sign.css")
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap' rel='stylesheet')
.login-box
  h1 Login
  form
    label Email
    input(type='email' placeholder='you@example.com')
    label Password
    input(type='password' placeholder='')
    input(type='button' value='Submit')
p.para-2
  | Not have an account? 
  a(href='signup.html') Sign Up Here